.first{
    border: 10px;
    background-image: url("cat.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    height: 500px;
}

.second{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}
p{
    text-align: center;
    /* padding: 150px; */
    border: 10px solid black;
    color: blue;
    margin: auto;
}
.button{
    text-decoration: none;
    padding: 10px;
    background-color: #ddd;
    border-radius: 20px;
    background-position: right;
    /* margin-left:93%; */
}
